[Unit]
Description=Mount remote with sshfs
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=default.target

# systemctl --user start home-daniel-C0D3-Remote.mount
[Mount]
What=dell:/home/daniel/C0D3
Where=/home/daniel/C0D3/Remote
Type=fuse.sshfs
Options=_netdev,reconnect,ServerAliveInterval=30,ServerAliveCountMax=5,identityfile=/home/daniel/.ssh/automation,x-systemd.automount
TimeoutSec=60

