encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1x0qs4gtfvvv9k3x0qjf93nzq7w8trh0e08l0zcntc2ul5gf04d0qnz3w3n"
[scriptEnv]
    BW_USER = "dxas90@gmail.com"
    SAFE_FOLDER = "$HOME/Vaults/Safe"
