#!/bin/bash

set +H  # Disable history expansion
export NIXPKGS_ALLOW_UNFREE="1"
export GITHUB_USER="dxas90"
export GITLAB_USER="dxas90"
export VAULT_ADDR="https://hvault.5rv.me"
set -H  # Re-enable history expansion
