#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
sudo apt update
sudo apt install -y --no-install-recommends {{ .packages.epam_wsl.apt | join " " }}
  # WSL-specific code
  {{   end -}}
  {{ if (.chezmoi.kernel.osrelease | lower | contains "manjaro") -}}
  # Manjaro Linux-specific code
yay -Syu --needed --noconfirm --noprogressbar {{ .packages.arch.yay | join " " }}
  {{   end -}}
  {{ if (.chezmoi.kernel.osrelease | lower | contains "ubuntu") -}}
sudo apt update
sudo apt install -y --no-install-recommends {{ .packages.ubuntu.apt | join " " }}
  {{   end -}}
{{ end -}}
