#!/bin/sh

{{ if stat (joinPath .chezmoi.sourceDir "key.txt.age") }}
if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
  mkdir -p "${HOME}/.config/chezmoi"
  chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi
{{ else }}
  echo "ERROR: Private key not found. Please create a key.txt.age file in your dotfiles repository." >&2
{{ end }}
# ex: ts=4 sw=4 et filetype=sh
